<div class="">
    <div class="container">
        <nav class="p-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'Users', admin_users_path %></li>
                <li class="breadcrumb-item"><%= link_to @user.full_name, edit_admin_user_path(@user) %></li>
            </ol>
        </nav>
    </div>
    <div class="container">
        
    </div>
</div>